<ion-header class="ion-no-border ion-padding-top ">
    <ion-toolbar>
        <ion-title>
            <ion-text>Mixfame</ion-text>
            <ion-text> Dashboard</ion-text>
        </ion-title>

        <ion-buttons slot="end" style="padding-right:16px;">
            <ion-button fill="solid " color="light" routerLink="/login"> Logout</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <div id="container">

        <ng-lottie width="100%" max-width="500px" height="600px" [styles]="styles" [options]="options" (error)="error($event)" (animationCreated)="animationCreated($event)"></ng-lottie>

    </div>
</ion-content>